.container-card {
  width: 272px;
  height: 107px;
  background-color: #374151;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    span:first-child {
      font-size: 11px;
      color: #9ca3af;
    }

    .complement {
      font-size: 22px;
      font-weight: bold;
      color: white;
    }
  }

  .icon {
    padding-top: 13px;
  }
}
