.container-history {
  height: 350px;
  background-color: #374151;
  margin-top: 24px;
  border-radius: 12px;
  padding: 24px;

  h3 {
    color: white;
  }
}

.day {
  height: 78px;
  border: 1px solid #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  border-radius: 8px;
  margin-top: 16px;

  .date {
    display: flex;
    flex-direction: column;
    color: white;

    span:first-child {
      font-size: 13px;
      color: #ffffff;
    }

    span:last-child {
      font-size: 12px;
      color: #9ca3af;
    }
  }

  .porcentagem {
    display: flex;
    gap: 10px;
    align-items: center;

    span {
      font-weight: 600;
      color: white;
      font-size: 19px;
    }
  }
}
